name: Build images

on:
  # on pull_request does not work with forks since the jobs will try to push
  # to the target registry but run only with the privileges of the fork.
  #- pull_request
  push:
    branches:
      - '**'
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - centos7-lcg97apython3
          - centos7-lcg98python3
          - format8
          - format10
          - ubuntu1804_cuda
          - ubuntu2004
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          repository: ${{ github.repository_owner }}/${{ matrix.context }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
          path: ${{ matrix.context }}
          tag_with_ref: true
          add_git_labels: true
