name: Build images

on:
  # on pull_request does not work with forks since the jobs will try to push
  # to the target registry but run only with the privileges of the fork.
  #- pull_request
  push:
    branches:
      - '**'
    tags:
      - 'v*'

jobs:
  image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - format8
          - format10
          - ubuntu2004
    steps:
      - name: 'Extract image tag'
        shell: bash
        # use extraction command from Publish-Docker-Github-Action
        run: echo "::set-env name=TAG::$(echo ${GITHUB_REF} | sed -e 's/refs\/heads\///g' | sed -e 's/refs\/tags\///g' | sed -e 's/\//-/g')"
      - uses: actions/checkout@v2
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: docker.pkg.github.com
          name: ${{ github.repository }}/${{ matrix.context }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          context: ${{ matrix.context }}
          tags: ${{ env.TAG }}
  lcg-base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - centos7
    steps:
      - name: 'Extract image tag'
        shell: bash
        # use extraction command from Publish-Docker-Github-Action
        run: echo "::set-env name=TAG::$(echo ${GITHUB_REF} | sed -e 's/refs\/heads\///g' | sed -e 's/\//-/g')"
      - uses: actions/checkout@v2
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: docker.pkg.github.com
          name: ${{ github.repository }}/${{ matrix.context }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          context: ${{ matrix.context }}
          tags: ${{ env.TAG }}
  lcg:
    runs-on: ubuntu-latest
    needs: lcg-base
    strategy:
      matrix:
        context:
          - centos7-lcg95apython3
          - centos7-lcg96
    env:
      REGISTRY: docker.pkg.github.com/${{ github.repository }}
    steps:
      - name: 'Extract image tag'
        shell: bash
        # use extraction command from Publish-Docker-Github-Action
        run: echo "::set-env name=TAG::$(echo ${GITHUB_REF} | sed -e 's/refs\/heads\///g' | sed -e 's/\//-/g')"
      - uses: actions/checkout@v2
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: docker.pkg.github.com
          name: ${{ github.repository }}/${{ matrix.context }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          context: ${{ matrix.context }}
          tags: ${{ env.TAG }}
          buildargs: REGISTRY,TAG
