name: Build images

on:
  - push

jobs:
  cc7_lcg95:
    runs-on: ubuntu-latest
    needs: base_images
    steps:
      - uses: actions/checkout@v1
      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: gitlab-registry.cern.ch
          name: acts/machines/cc7_lcg95
          username: ${s github.actor  }}
          password: ${{ secrets.GITHUB_TOKEN  }}
          context: cc7_lcg95
          buildargs: branch

  cc7_lcg96:
    runs-on: ubuntu-latest
    needs: base_images
    steps:
      - uses: actions/checkout@v1
      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: gitlab-registry.cern.ch
          name: acts/machines/cc7_lcg96
          username: ${{ github.actor  }}
          password: ${{ secrets.GITHUB_TOKEN  }}
          context: cc7_lcg96
          buildargs: branch

  slc6_lcg95:
    runs-on: ubuntu-latest
    needs: base_images
    steps:
      - uses: actions/checkout@v1
      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: gitlab-registry.cern.ch
          name: acts/machines/slc6_lcg95
          username: ${{ github.actor  }}
          password: ${{ secrets.GITHUB_TOKEN  }}
          context: slc6_lcg95
          buildargs: branch

  cc7_clang_tidy:
    runs-on: ubuntu-latest
    needs: base_images
    steps:
      - uses: actions/checkout@v1
      - name: Extract branch name
        shell: bash
        run: echo "::set-env name=branch::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: gitlab-registry.cern.ch
          name: acts/machines/static_analysis/cc7-clang-tidy
          username: ${{ github.actor  }}
          password: ${{ secrets.GITHUB_TOKEN  }}
          context: check_llvm8
          buildargs: branch

  base_images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir:
          - cc7
          - slc6
          - ubuntu
          - ubuntu_llvm9
          - check
          - check_llvm8
    steps:
      - uses: actions/checkout@v2
      - uses: acts-project/Publish-Docker-Github-Action@master
        with:
          registry: gitlab-registry.cern.ch
          name: acts/machines/${{ matrix.dir }}
          username: ${{ github.actor  }}
          password: ${{ secrets.GITHUB_TOKEN  }}
          context: ${{ matrix.dir }}

