name: Build images

on:
  # on pull_request does not work with forks since the jobs will try to push
  # to the target registry but run only with the privileges of the fork.
  #- pull_request
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  schedule:
    - cron:  '0 3 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - centos7-lcg97apython3-gcc9
          - centos7-lcg98python3-gcc10
          - centos7-lcg100-gcc10
          - centos8-lcg100-gcc10
          - format10
          - ubuntu1804_cuda
          - ubuntu1804_rocm
          - ubuntu2004
          - ubuntu2004_oneapi
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          repository: ${{ github.repository_owner }}/${{ matrix.context }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ matrix.context }}
          tag_with_ref: true
          add_git_labels: true
